{% extends 'core/basic_template.html' %}
{% load static %}
{% block extra_header %}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
    <script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js'></script>
    <script src={% static 'core/js/pt-br.js' %}></script>
{% endblock %}
{% block h1 %}
    calendário de reuniões
{% endblock %}
{% block lead %}
    veja as reuniões agendadas
{% endblock %}
{% block main_content %}
    <div class="container text-center">
        <div id='calendar'></div>
    </div>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                locale: 'pt-br',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay',
                },
                events: [
                {% for meeting in meetings %}
                    {
                        title  : '{{ meeting.name }}',
                        start  : '{{ meeting.date|date:'Y-m-d' }}T{{ meeting.start|date:'H:i' }}',
                        end  : '{{ meeting.date|date:'Y-m-d' }}T{{ meeting.end|date:'H:i' }}',
                        color: '{{ meeting.room.color|default:'darkblue' }}',
                        url: '{% url 'api:meeting-list' %}{{ meeting.id }}',
                        allDay : false,
                        {% if meeting.status == 'canceled' %}
                            borderColor: 'red',
                            textColor: 'darkred',
                        {% else %}
                            borderColor: 'black',
                        {% endif %}
                    },
                {% endfor %}
              ]
            })
        });
    </script>
{% endblock %}
