body {
    font-family: 'Raleway', sans-serif;
}

.footer {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
}

.negative-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
